gradio==5.49.1
spaces>=0.43.0
torch==2.8.0
torchvision==0.23.0
numpy<2
einops
omegaconf
safetensors
huggingface_hub
pillow
opencv-python-headless
pyyaml
plyfile
pycolmap
evo
trimesh
scipy
pypose
numba
pandas
prettytable
matplotlib
scikit-learn
tqdm
addict
faiss-cpu
e3nn
opt_einsum_fx
imageio
imageio-ffmpeg
moviepy==1.0.3
proglog
plyfile
nerfstudio>=1.1.0
gsplat>=1.4.0
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.8.93
